<app-navbar></app-navbar>
<!-- Hero Section-->
<section
  style="
    background: url(/assets/images/J.\ Cole\ -\ 2014\ Forest\ Hills\ Drive\ Album\ Download.jpeg);
    background-size: cover;
    background-position: center center;
  "
  class="hero"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 style="color: blanchedalmond">
          Landing Page For The University Of Benin
        </h1>
        <a href="#" class="hero-link">Discover More</a>
      </div>
    </div>
    <a href=".intro" class="continue link-scroll"
      ><i class="fa fa-long-arrow-down"></i> Scroll Down</a
    >
  </div>
</section>

<!-- Button trigger modal -->
<!-- <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Sign In
    </button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Sign Uppp</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">Some great intro here</h2>
        <p class="text-big">
          <strong>The University Of Benin</strong> is located in
          <strong>Benin City, Edo State</strong>It is the oldest University in
          Nigeria and according to records, it is the best Federal school in
          Nigeria that offers the best learning environment for both science,
          art and social-science students.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Post-->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                <a href="#">Engineering</a><a href="#">Faculty</a>
              </div>
              <a href="post.html">
                <h2 class="h4">
                  University Of Benin can <b>TEACH</b> you Engineering
                </h2></a
              >
            </header>
            <p>
              I am Elue Caelen,a final student of the department of Chemical
              Engineering,faculty of Engineering, University of Benin and I must
              say,deciding to studying Engineering In the University of Benin is
              the best decision I have made in my life. My lecturers makes
              Engineering look easy and practical. I have been on a first class
              since my 100level and I am proud to say that I already have a job
              offer from Shell before my graduation.
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img
                    src="/assets/images/IMG_1447.jpg"
                    alt="..."
                    class="img-fluid"
                  />
                </div>
                <div class="title"><span>Caelen Elue</span></div></a
              >
              <div class="date"><i class="icon-clock"></i> 2 months ago</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5">
        <img src="/assets/images/IMG_1447.jpg" alt="..." />
      </div>
    </div>
    <!-- Post        -->
    <div class="row d-flex align-items-stretch">
      <div class="image col-lg-5">
        <img
          style="width: 500px"
          height="1500px;"
          src="/assets/images/IMG_6048.JPG"
          alt="..."
        />
      </div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                <a href="#">Business</a><a href="#">Technology</a>
              </div>
              <a href="post.html">
                <h2 class="h4">
                  University Of Benin can <b>TEACH</b> you Sciences
                </h2></a
              >
            </header>
            <p>
              I am Mary Busolami,a graduate of the department of Med Lab,faculty
              of Medical school, University of Benin and I must say,deciding to
              studying Med Lab In the University of Benin is the best decision I
              have made in my life. My lecturers makes Sciences look easy and
              practical. I have been on a first class since my 100level and I am
              proud to say that I got a job offer from Shell before my
              graduation and I am currently work at Shell.
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img
                    src="/assets/images/IMG_6048.JPG"
                    alt="..."
                    class="img-fluid"
                  />
                </div>
                <div class="title"><span>Mary Busola</span></div></a
              >
              <div class="date"><i class="icon-clock"></i> 12 years ago</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- Post                            -->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                <a href="#">Business</a><a href="#">Technology</a>
              </div>
              <a href="post.html">
                <h2 class="h4">
                  University Of Benin can <b>TEACH</b> you Music
                </h2></a
              >
            </header>
            <p>
              I am Jermaine Cole,a graduate of the department of hip pop
              ,faculty of music, University of Benin and I must say,deciding to
              studying Hip pop In the University of Benin is the best decision I
              have made in my life. My lecturers makes rap look easy and
              practical. I have been on a first class since my 100level and I am
              proud to say that I got a job offer from Dreamville records before
              my graduation and I am currently work at Dreamville.
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img
                    src="/assets/images/J. Cole - 2014 Forest Hills Drive Album Download.jpeg"
                    alt="..."
                    class="img-fluid"
                    style="height: 800px"
                    width="400px"
                  />
                </div>
                <div class="title"><span>Jermaine Cole</span></div></a
              >
              <div class="date"><i class="icon-clock"></i> 2 months ago</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5">
        <img
          src="/assets/images/J. Cole - 2014 Forest Hills Drive Album Download.jpeg"
          alt="..."
          style="background-size: cover"
        />
      </div>
    </div>
  </div>
</section>
<!-- Divider Section-->
<section
  style="
    background: url(/assets/images/divider-bg.jpg);
    background-size: cover;
    background-position: center bottom;
  "
  class="divider"
>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>
          IF YOU ARE READING THIS.... GOODNEWS, IT'S NOT TOO LATE TO APPLY FOR
          ADMISSION. TAKE THAT BOLD STEP.
        </h2>
        <a href="#" class="hero-link">View More</a>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest from the Uniben blog</h2>
      <p class="text-big">Other things you can consider.</p>
    </header>
    <div class="row">
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img src="wale.jpeg" alt="..." class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Business</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Ways to remember your important ideas</h3></a
          >
          <p class="text-muted">
            We will teach you the fastest and most convienent way to remember
            everything what you have .
          </p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img src="img/blog-2.jpg" alt="..." class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Technology</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a
          >
          <p class="text-muted">
            This is for the students wanting a degree in Engineering.We have
            major links to top engineering companies around the world.
          </p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img src="lukaku.jpeg" alt="..." class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Financial</a></div>
          </div>
          <a href="post.html"> <h3 class="h4">Bitcoin,forez and stocks</h3></a>
          <p class="text-muted">
            University of Benin is in collaboration with Luke-Shaw digital
            exchange, so being a student of the great University of Benin gives
            you the adequate exposure to digital currencies and how to make a
            daily source of income from it.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter Section-->
<!-- <section class="newsletter no-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="#">
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Type your email address"
                  />
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section> -->
<!-- Gallery Section-->
<section class="gallery no-padding">
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item">
        <a href="img/gallery-1.jpg" data-fancybox="gallery" class="image"
          ><img src="img/gallery-1.jpg" alt="..." class="img-fluid" />
          <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i></div
        ></a>
      </div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item">
        <a href="img/gallery-2.jpg" data-fancybox="gallery" class="image"
          ><img src="img/gallery-2.jpg" alt="..." class="img-fluid" />
          <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i></div
        ></a>
      </div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item">
        <a href="img/gallery-3.jpg" data-fancybox="gallery" class="image"
          ><img src="img/gallery-3.jpg" alt="..." class="img-fluid" />
          <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i></div
        ></a>
      </div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item">
        <a href="img/gallery-4.jpg" data-fancybox="gallery" class="image"
          ><img src="img/gallery-4.jpg" alt="..." class="img-fluid" />
          <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i></div
        ></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
