<div class="Busola">
  <div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Edit Student</h3>
            <p>Fill in the data below.</p>
            <form
              #form="ngForm"
              (ngSubmit)="updateCourse()"
              class="requires-validation"
            >
              <div class="col-md-12">
                <input
                  class="form-control"
                  [(ngModel)]="courseDetails.courseId"
                  type="text"
                  name="id"
                  placeholder="Id"
                  required
                />
                <div class="valid-feedback">Username field is valid!</div>
                <div class="invalid-feedback">
                  Username field cannot be blank!
                </div>
              </div>

              <div class="col-md-12">
                <input
                  onkeypress="return /[a-z]/i.test(event.key)"
                  class="form-control"
                  [(ngModel)]="courseDetails.courseName"
                  type="text"
                  name="name"
                  placeholder="Full Name"
                  required
                />
                <div class="valid-feedback">Username field is valid!</div>
                <div class="invalid-feedback">
                  Username field cannot be blank!
                </div>
              </div>

              <div class="col-md-12">
                <input
                  class="form-control"
                  [(ngModel)]="courseDetails.courseFees"
                  type="email"
                  name="email"
                  placeholder="E-mail Address"
                  required
                />
                <div class="valid-feedback">Email field is valid!</div>
                <div class="invalid-feedback">Email field cannot be blank!</div>
              </div>

              <div class="col-md-12">
                <input
                  onkeypress="return /[a-z]/i.test(event.key)"
                  class="form-control"
                  [(ngModel)]="courseDetails.isDeleted"
                  type="text"
                  name="department"
                  placeholder="department"
                  required
                />
                <div class="valid-feedback">Department field is valid!</div>
                <div class="invalid-feedback">
                  Department field cannot be blank!
                </div>
                <!-- <select
                class="form-select mt-3"
                [(ngModel)]="studentDetails.department"
                required
              >
                <option selected disabled value="">Courses</option>
                <option value="jweb">Computer Science</option>
                <option value="sweb">Mathematics</option>
                <option value="pmanager">Geology</option>
              </select>
              <div class="valid-feedback">You selected a position!</div>
              <div class="invalid-feedback">Please select a position!</div> -->
              </div>

              <div class="col-md-12">
                <input
                  class="form-control"
                  [(ngModel)]="courseDetails.isActive"
                  type="number"
                  style="margin-top: 15px"
                  name="phone"
                  placeholder="Phone number"
                  required
                />
                <div class="valid-feedback">Password field is valid!</div>
                <div class="invalid-feedback">
                  Password field cannot be blank!
                </div>
              </div>

              <!-- <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invalidCheck"
                required
              />
              <label class="form-check-label"
                >I confirm that all data are correct</label
              >
              <div class="invalid-feedback">
                Please confirm that the entered data are all correct!
              </div>
            </div> -->

              <div class="form-button mt-3">
                <button id="submit" type="submit" class="btn btn-primary mr-5">
                  Save
                </button>
                <button
                  id="button"
                  type="submit"
                  class="btn btn-danger"
                  (click)="deleteCourse(courseDetails.courseId)"
                  style="margin-left: 10px"
                >
                  Delete
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
