<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Success !</strong> Student already exist.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div> -->
<div class="leon">
  <div class="container">
    <h1 class="mb-3">Result Record</h1>

    <!-- Added a comment -->

    <table class="table" *ngIf="student && student.length > 0">
      <thead>
        <tr>
          <th>Matric Number</th>

          <th>Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of student">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.department }}</td>
          <td>{{ student.phone }}</td>
          <td>
            <a [routerLink]="['/studentdetails', 'edit', student.id]">View</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!student || student.length <= 0">No Employees Found</p>
  </div>
</div>
